<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907020757376-chc72h93igbe5j0nlm3bq858nrs0tvls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907020757376-chc72h93igbe5j0nlm3bq858nrs0tvls</string>
	<key>API_KEY</key>
	<string>AIzaSyBcTC3CPmMFvOYBo3JaR8Rd1wvqjENl4i4</string>
	<key>GCM_SENDER_ID</key>
	<string>907020757376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.notifExample.tde</string>
	<key>PROJECT_ID</key>
	<string>catchy-98878</string>
	<key>STORAGE_BUCKET</key>
	<string>catchy-98878.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907020757376:ios:29f033bc3a623e6d82f965</string>
</dict>
</plist>